---
layout: index
title: heljoy
---
{% include heljoy/setup %}

{% for post in paginator.posts %}
  <h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <div class="post_info">
  <ul class="tag_box inline">
    <li id="post-date"> Posted on {{ post.date | date_to_string }}</li>
    {% unless no_category %}
      {% if post.category %}
        <li> in <a href="{{ BASE_PATH }}{{ site.heljoy.categories_path }}#{{ post.category }}-ref">
    	 {{ post.category }}
	</a>
        </li>
      {% endif %}
    {% endunless %}
  </ul>
  </div>
  <div class="archive">
    {{ post.content | split: '<!-- more -->' | first }}
  </div>
  <hr />
{% endfor %}

<div id="post-pagination" class="pagination pagination-right">
  <ul>
  {% if paginator.previous_page %}
    <li>
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="icon-chevron-left"></i></a>
    </li>
  {% else %}
    <li class="disabled">
    <span><i class="icon-chevron-left"></i></span>
    </li>
  {% endif %}

  {% for page in  (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <li class="active">
      <a href="#">{{ page }}</a>
      </li>
    {% elsif page == 1 %}
      <li>
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      </li>
    {% else %}
      <li>
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      </li>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <li>
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="icon-chevron-right"></i></a>
    </li>
  {% else %}
    <li class="disabled">
    <a href="#"><i class="icon-chevron-right"></i></a>
    </li>
  {% endif %}
  </ul>
</div>

